NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

AZURE_OPENAI_CHAT_URL=
AZURE_OPENAI_CHAT_API_KEY=
AZURE_OPENAI_IMAGE_URL=
AZURE_OPENAI_IMAGE_API_KEY=
AZURE_OPENAI_VIDEO_URL=
AZURE_OPENAI_VIDEO_API_KEY=
AZURE_OPENAI_VIDEO_MODEL=sora-2

ELEVENLABS_API_KEY=
